{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 33.95648722283834,
    "longitude": -117.3232126235962,
    "elevation": 800,
    "unit_system_v2": "us_customary",
    "location_name": "Riverside HA",
    "time_zone": "America/Los_Angeles",
    "external_url": "https://hass.maxwong.io",
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en"
  }
}